project/flows.json
[
    {
        "id": "3fab23bb.c054dc",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "349fc24b.cb603e",
        "type": "midi in",
        "z": "3fab23bb.c054dc",
        "name": "",
        "midiport": "0",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "4913238a.b6ecdc",
                "bd86e089.58fe8"
            ]
        ]
    },
    {
        "id": "4913238a.b6ecdc",
        "type": "switch",
        "z": "3fab23bb.c054dc",
        "name": "",
        "property": "midi.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "controlchange",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noteon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noteoff",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pitchbend",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "125fb388.eda04c",
                "65de96b7.9a2168"
            ],
            [
                "b4bd305c.4b42d"
            ],
            [
                "e64f0316.19b1"
            ],
            [
                "d6d8d908.292728"
            ]
        ]
    },
    {
        "id": "125fb388.eda04c",
        "type": "debug",
        "z": "3fab23bb.c054dc",
        "name": "cc",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "b4bd305c.4b42d",
        "type": "debug",
        "z": "3fab23bb.c054dc",
        "name": "noteon",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "e64f0316.19b1",
        "type": "debug",
        "z": "3fab23bb.c054dc",
        "name": "noteoff",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "d6d8d908.292728",
        "type": "debug",
        "z": "3fab23bb.c054dc",
        "name": "pitchbend",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "9f1818a6.60e7e8",
        "type": "midi out",
        "z": "3fab23bb.c054dc",
        "name": "",
        "midiport": "0",
        "x": 420,
        "y": 380,
        "wires": []
    },
    {
        "id": "6a922a23.956dd4",
        "type": "inject",
        "z": "3fab23bb.c054dc",
        "name": "",
        "topic": "",
        "payload": "[176,1,127]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "9f1818a6.60e7e8"
            ]
        ]
    },
    {
        "id": "65de96b7.9a2168",
        "type": "switch",
        "z": "3fab23bb.c054dc",
        "name": "CC filter",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "2238d341.ddc72c"
            ],
            [
                "80fb62dc.7f04a"
            ]
        ]
    },
    {
        "id": "2238d341.ddc72c",
        "type": "debug",
        "z": "3fab23bb.c054dc",
        "name": "CC1",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "80fb62dc.7f04a",
        "type": "debug",
        "z": "3fab23bb.c054dc",
        "name": "CC2",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "bd86e089.58fe8",
        "type": "debug",
        "z": "3fab23bb.c054dc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "midi",
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "e5f81316.30f87",
        "type": "template",
        "z": "3fab23bb.c054dc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"type\": \"noteon\",\n    \"channel\": 2,\n    \"data\": [1,127]\n}",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "ded915cd.c5501"
            ]
        ]
    },
    {
        "id": "4636226b.582e5c",
        "type": "inject",
        "z": "3fab23bb.c054dc",
        "name": "",
        "topic": "",
        "payload": "127",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 480,
        "wires": [
            [
                "e5f81316.30f87"
            ]
        ]
    },
    {
        "id": "ded915cd.c5501",
        "type": "json",
        "z": "3fab23bb.c054dc",
        "name": "",
        "x": 400,
        "y": 480,
        "wires": [
            [
                "8d463bae.992ba"
            ]
        ]
    },
    {
        "id": "8d463bae.992ba",
        "type": "change",
        "z": "3fab23bb.c054dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "midi",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "9f1818a6.60e7e8"
            ]
        ]
    },
    {
        "id": "9bfc9b81.6bf98",
        "type": "debug",
        "z": "3fab23bb.c054dc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 350,
        "y": 280,
        "wires": []
    }
]